.containers {
  width: 60rem;
  margin: 0 auto;
  align-items: center;
}

.container1 {
  display: flex;
  border: 0.2rem solid transparent;
  margin: 2rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
}

.name {
  font-family: "Lato";
  font-weight: 400;
  font-size: 1.5rem;
  color: #14213d;
  padding: 0;
}

.cargo {
  font-family: "Lato";
  font-weight: 400;
  font-size: 1.2rem;
  color: #14213d;
}

.img {
  border-radius: 2rem;
}

.description1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.quote {
  padding-left: 1.5rem;
  font-family: "Lato";
  font-weight: 400;
  color: #14213d;
  font-size: 1rem;
}
